<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331382023486-sl93ibe9erpfo4fr3lth34fvc1lhvmco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331382023486-sl93ibe9erpfo4fr3lth34fvc1lhvmco</string>
	<key>API_KEY</key>
	<string>AIzaSyAOGA91GuIsbXVc-T53aqzia3fv7IgM3d0</string>
	<key>GCM_SENDER_ID</key>
	<string>331382023486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mukhammed.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-7c21a</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-7c21a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331382023486:ios:fe46d092967397dff9786f</string>
</dict>
</plist>